<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHz076gHJHvmfMJD1K4G9qm0Sp-Oeqp-M</string>
	<key>GCM_SENDER_ID</key>
	<string>22930153229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example.mehios</string>
	<key>PROJECT_ID</key>
	<string>mehery-75d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>mehery-75d3b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22930153229:ios:f96a52011c577818e4da44</string>
	<key>DATABASE_URL</key>
	<string>https://mehery-75d3b-default-rtdb.firebaseio.com</string>
</dict>
</plist>